@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/static/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/static/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Pretendard";
  src: url("/static/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

textarea:focus,
button:focus,
input:focus {
  outline: none;
}
